$apppointment-color: #4458A7;
$make-color: #09BCD4;
$calendar-color: #4DAF4E;
$primary-color: #375AE0;



.container-fluid{
  margin: 0;
  padding: 0;
}
.navbar {
  margin: 0;
  padding: 0;
  border: 0;
}

#bs-example-navbar-collapse-1{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $primary-color;
}

.calendarHeader{
  color: white;
  background-color: $calendar-color;
  padding: 20px;
  text-align : center;
  font-size: 30px;
}
.appointmentsHeader{
  color: white;
  background-color: $apppointment-color;
  padding: 20px;
  text-align : center;
  font-size: 30px;
}
.makeAppointmentHeader{
  color: white;
  background-color: $make-color;
  padding: 20px;
  text-align : center;
  font-size: 30px;
}

#makeAppointment{
    background-color: #09BCD4;
  a{
    color: white;
  }

}
#appointments{
    background-color: #4458A7;
    a{
        color: white;
    }
}
#calendar{
    background-color: #4DAF4E;
    a{
        color: white;
    }
}


//make.jsp

.makeAppointmentContent{
  padding: 20px 20px 20px 20px;
}

//appointmnets.jsp


.appointmentInfo{
  border: 1px;
  border-color: black;
  border-style: solid;
}

.pendingRequestsContent{
  padding: 20px 20px 20px 20px;
  border: 1px;

}

.examInfo{
  border: 1px;
  border-color: black;
  border-style: solid;

}

.generalTitle{
  text-align : center;
  font-size: 20px
}

#appointmentTitle{
  text-align : center;
  font-size: 20px
}


.toprow{
  padding-bottom: 20px;
}

.bottomrow{
  padding: 20px 20px 20px 20px;
}

.cancelButton{
  height:30px;
  width: 200px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}



.studentAppointments{
  padding: 20px 20px 20px 20px;
  position:relative;
  top:50%;
  left:50%;
}



.modalAppointmentInfo{
  margin-left: 50px;
  border: 1px;
  border-color: black;
  border-style: solid;
}


//calender.jsp

